.DS_Store
node_modules
envs
/dist
**/local
Thumbs.db
.vscode
.idea/
__pycache__
**/local
**/tmp
*.tmp.*
*.log
**/.terraform/*
*.tfstate
*.tfstate.json
*.backup
**/jobs
*.local.*
*.lock
**/pending
**/tasks
**/failed.*
**/secrets/**

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/live/

# because I'm an idiot - Andrew
./lsync.lua
**/lsync.lua
