[submodule "apollo-server/repos/testing/apostrophe-demo"]
	path = apollo-server/repos/testing/apostrophe-demo
	url = https://gitlab.com/onecommons/testing/apostrophe-demo.git
[submodule "apollo-server/repos/testing/dashboard"]
	path = apollo-server/repos/testing/dashboard
	url = https://gitlab.com/onecommons/testing/dashboard.git
[submodule "apollo-server/repos/testing/apostrophe-blueprint"]
	path = apollo-server/repos/testing/apostrophe-blueprint
	url = https://gitlab.com/onecommons/testing/apostrophe-blueprint.git
[submodule "apollo-server/repos/testing/simple-blueprint"]
	path = apollo-server/repos/testing/simple-blueprint
	url = https://gitlab.com/onecommons/testing/simple-blueprint.git
[submodule "apollo-server/repos/unfurl-types"]
	path = apollo-server/repos/unfurl-types
	url = https://gitlab.com/onecommons/testing/unfurl-types.git
[submodule "apollo-server/repos/blueprints/ghost"]
	path = apollo-server/repos/blueprints/ghost
	url = https://gitlab.com/onecommons/blueprints/ghost.git
