aside[data-testid="job-sidebar"] {
    display: none;
}
[data-testid="job-content"] > :is(header, .js-environment-container) {
    display: none;
}
[data-testid="job-content"] .top-bar {
    display: none;
    /*
    top: 0px !important;
    margin-top: -10px;
     */
}
[title="Scroll to top"], [title="Scroll to bottom"] {
    display: none;
}

