h2.oc-title-section {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
  }
  h1.oc-home-panel-title {
    font-size: 1.64rem;
    font-weight: 700;
    line-height: 28px;
  }
  h4.project-title {
    margin-top: 0px;
  }
  .project_wide_cards {
    width: 100%;
  }
  .oc_table_row {
    padding: 10px 0px;
    color: #303030;
  }
  .oc-table-section .title {
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    color: #303030;
  }
  .icon-gray {
    color: #999999;
  }
  .icon-red {
    color: #ec5941;
  }

  .icon-green {
    color: #52b87a;
  }

/*
.header-oc {
    background-color: #E3F7FF !important;
}
*/
.deploy-action {
  background: #E3F7FF !important;

}
.view-project-link {
  color: #4A5053;
  padding-top: 4px;
}

/* oc dark mode fixes */
.gl-dark .oc_table_row, 
.gl-dark .oc-table-section .title {
  color: #EDFCFA;
}
.gl-dark .deploy-action {
  background: transparent !important;
}
.gl-dark .view-project-link {
  color: #EDFCFA !important;
}


